.notification-window {
    background-color: transparent;
}

.container {
    background-color: #1a1b26;
    color: #a9b1d6;
    border: 1px solid #32344a;
    padding: 8px 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 999px;
    min-height: 48px;
}

.icon {
    border-radius: 999px;
    margin-right: 10px;
    min-width: 48px;
    min-height: 48px;
}

.text-box {
    margin-right: 8px;
}

.summary {
    font-weight: bold;
    font-size: 14px;
    color: #7aa2f7;
    margin-bottom: 2px;
}

.body {
    font-size: 13px;
    color: #565f89;
}

.expanded .summary,
.expanded .body {
    opacity: 1;
}

.container:not(.expanded) .body {
    opacity: 0;
}
